<div id="search-page-div">

  <% if @search_results.present? %>
    <h6>we have that font in our database</h6>
    <h2>click below to learn more</h2>
    <%= link_to @search_results.first.font_name, font_path(@search_results.first.id) %>
  <% elsif %>
    <h6><%= "sorry, that font isn't in our database." %></h6>
    <%= "would you like to recommend a font?" %>
    <hr>
    <h2>SUGGEST A FONT</h2>
    <input type="text" id="suggested-font" placeholder="enter a font name">
    <input type="text" id="suggestion-reason" placeholder="why do you think this font should be added?">
    <button id="submit-suggestion">submit suggestion</button>
    <ul id="suggestions-list"></ul>
  <% end %>

</div>