#homepage {
  text-align: center;
  margin-top: 18%;
}

h1 {
  font-size: 70px;
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  line-height: 29%;
  margin-top: 5%;
  color: rgba(50, 50, 50, 1);
  }

h2 {
  font-size: 12px;
  font-family: 'Raleway';
  font-weight: 500;
  margin: 0 0;
  letter-spacing: 2px;
  color: rgba(150, 150, 150, 1);
}

p {
  margin: 0 0;
  font-family: 'Raleway';
  font-size: 15px;
  margin-top: 2%;
  line-height: 155%;
}

h4 {
  font-size: 17px;
  letter-spacing: 2px;
}