.edit-suggestion-box {
  width: 7%;
  height: 10px;
  font-size: 10px;
  margin-right: 1%;
}

.delete-suggestion-box {
  width: 7%;
  height: 10px;
  font-size: 10px;
}

#search-page-div {
  margin: 0 10%;
  margin-top: 25.5%;
}

#search-page-div hr {
  height: 1px;
  border: 0;
  color: #333;
  background-color: #333;
  width: 80%;
  margin-bottom: 5%;
}

#search-page-div h2 {
  margin-bottom: 3%;
}

#search-page-div h4 {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0 0;
  display: inline-block;
}

h6 {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-size: 25px;
  color: rgba(50, 50, 50, 1);
  margin: 0 0 1% 0;
}

#suggested-font {
  font-size: 13px;
  height: 25px;
  width: 35%;
}

#suggestion-reason {
  font-size: 13px;
  height: 70px;
  width: 80%;
  display: block;
  margin-top: 2%;
  margin-bottom: 2%;
}

#submit-suggestion {
  font-size: 12px;
  border: none;
  color: rgba(50, 50, 50, 1);
}

#submit-suggestion:hover {
  background-color: grey;
  border: none;
  color: white;
}

button {
  font-size: 10px;
}
