.combination-cards {
  width: 100%;
}


#combo-card {
  width: 25%;
  height: 250px;
  border: 1px solid #404040;
  border-top: 5px solid #404040;
  margin: 2%;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}


.test {
  border: none;
  border-bottom: 1px solid grey;
  width: 70%;
  outline: 0;
  color: black;
  background-color: transparent;
  font-size: 50px;
}

h2 {
  font-size: 12px;
  font-family: 'Raleway';
  font-weight: 500;
  margin: 0 0;
  letter-spacing: 2px;
  color: rgba(180, 180, 180, 1);
  text-transform: uppercase;
}

h3 {
  font-size: 37px;
  margin: 0 0;
}

h5 {
  font-size: 350px;
  color: rgba(235, 235, 235, 1);
  margin: 0 0;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-style: italic;
  z-index: -1;
}

#font-information {
  width: 40%;
  display: inline-block;
  z-index: 3;
  text-align: left;
  margin: 0 0 0 0;
}

#font-information-one {
  text-align: center;
  display: inline-block;
  margin-top: 17%;
}

#capital-box {
  width: 40%;
  display: inline-block;
  margin: 0 0;
  z-index: 2;
  text-align: right;
}

#grey-box {
  background-color: rgba(120, 120, 120, 1);
  color: white;
  width: 100%;
  height: 170px;
}

hr {
  height: 7px;
  background-color: rgba(120, 120, 120, 1);
}

#three-box-information {
  display: inline-block;
  text-align: center;
  width: 100%;
  margin-top: 9%;
  margin-bottom: 9%;
}

.three-box {
  display: inline-block;
  vertical-align: top;
  margin: 0 5%;
}

#characters-symbols {
  margin-top: 2%;
  text-align: center;
}