<div id="homepage">
  <h2>WELCOME TO FONT FINDER</h2>
  <h1>a site for </h1><h1>exploring fonts</h1>
  <p>scroll down to view a brief history on the evolution of fonts, or click a<br>font name to learn more about it and its appropriate pairings</p>
</div>

<section class="timeline">
  <ul>
    <li>
      <div class="timeline__date">1440:</div>
      <p>Johannes Gutenberg invents the printing press</p>
    </li>
    <li>
     <div class="timeline__date">1501:</div>
      <p>The first italic font surfaces</p>
    </li>
    <li>
     <div class="timeline__date">1800:</div>
      <p>Sans serif fonts are introduced</p>
    </li>
    <li>
     <div class="timeline__date">1885:</div>
      <p>The quick brown fox jumps over the lazy dog</p>
    </li>
    <li>
      <div class="timeline__date">1926:</div>
      <p>Gill Sans designed by Eric Gill</p>
    </li>
    <li>
      <div class="timeline__date">1957:</div>
      <p><%= link_to 'Helvetica', path_font_for('Helvetica') %>is born</p>
    </li>
    <li>
      <div class="timeline__date">1994:</div>
      <p>Comic Sans is designed for Microsoft</p>
    </li>
  </ul>
</section>